<div class="content">
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Import">
      <div class="mat-elevation-z4 tab-content">
        <div class="info">
          <div class="info-title"><mat-icon>info</mat-icon>&nbsp;&nbsp;Info</div><br>
          Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie
          depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
          Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
          Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications
          de mise en page de texte, comme Aldus PageMaker.
        </div>
        <app-upload-lefff></app-upload-lefff>
      </div>
    </mat-tab>
    <mat-tab label="Export">
      <div class="mat-elevation-z4 tab-content">
        <div class="info">
          <div class="info-title"><mat-icon>info</mat-icon>&nbsp;&nbsp;Info</div><br>
          Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie
          depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
          Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
          Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications
          de mise en page de texte, comme Aldus PageMaker.
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" (click)="doExport()">Export JSON</button>
          <button mat-raised-button color="primary" (click)="doExport()">Export TXT</button>
          <button mat-raised-button color="primary" (click)="doExport()">Export XML</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>