<div class="content">
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Import">
      <div class="mat-elevation-z4 tab-content">
        <div class="info">
          <div class="info-title"><mat-icon>info</mat-icon>&nbsp;&nbsp;Info</div><br>

        </div>
        <app-upload-lefff></app-upload-lefff>
        <mat-progress-bar *ngIf="requestImport" mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-tab>
    <mat-tab label="Export">
      <div class="mat-elevation-z4 tab-content">
        <div class="info">
          <div class="info-title"><mat-icon>info</mat-icon>&nbsp;&nbsp;Info</div><br>
          L'export du lexique permettra d'extraire tous les mots enregistrés en base de données dans l'ordre alphabétique.
          Les formes fléchies de chaque mot seront générées et presentées dans l'export à la suite du mot correspondant en respectant le format ci-contre :
          <pre>
            &lt;mot&gt; &lt;code-categorie&gt;["&lt;categorie-name&gt;"] lemme="&lt;mot&gt;" &#123;&lt;mot-tags&gt;&#125;
            &lt;forme-fléchie-générée&gt; f["forme fléchie"] lemme="&lt;mot&gt;" &#123;&lt;tags-combination&gt;&#125;
            &lt;mot&gt; &lt;code-categorie&gt;["&lt;categorie-name&gt;"] lemme="&lt;mot&gt;" &#123;&lt;mot-tags&gt;&#125;
            &lt;forme-fléchie-générée&gt; f["forme fléchie"] lemme="&lt;mot&gt;" &#123;&lt;tags-combination&gt;&#125;
            &lt;forme-fléchie-générée&gt; f["forme fléchie"] lemme="&lt;mot&gt;" &#123;&lt;tags-combination&gt;&#125;
            ...
          </pre>
          <b>&lt;mot&gt;</b> : le mot de la base <br>
          <b>&lt;code-categorie&gt;</b> : le code de la catégorie du mot (ex: "adj" est le code de "adjectif")<br>
          <b>&lt;categorie-name&gt;</b> : le nom complet de la catégorie<br>
          <b>&lt;mot-tags&gt;</b> : les tags renseignés sur le mot<br>
          <b>&lt;forme-fléchie-générée&gt;</b> : une forme fléchie du mot présentés précédemment<br>
          <b>f["forme fléchie"]</b> : "f" correspond au code de la forme fléchies<br>
          <b>lemme="&lt;mot&gt;"</b> : avec <b>&lt;mot&gt;</b> correspondant au lemme de base de la forme fléchie<br>
          <b>&lt;tags-combination&gt;</b> : l'association de tags ayant permis de générer la forme fléchie<br>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" (click)="doExport()">Export</button>
          <mat-progress-bar *ngIf="requestExport" mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>