<div class="centerDiv" *ngIf="loading.status">
  <mat-progress-spinner
          [color]="loading.color"
          [mode]="loading.mode"
          [value]="loading.value">
  </mat-progress-spinner>
</div>
<div *ngIf="!loading.status" class="content">
  <h3>Listes des catégories</h3>
  <div *ngIf="categories.length <= 0">
    <p class="numberOfResults">Aucun résultat ne correspond.</p>
    <button mat-raised-button color="primary" routerLink="/add/category"><mat-icon>add</mat-icon> Ajouter une nouvelle catégorie</button>
    <br/>
    <br/>
    <p class="noResult">Désolé, aucune catégorie n'est enregistrée en base de données.</p>
  </div>
  <div *ngIf="categories.length > 0">
    <p class="numberOfResults">{{categories.length}} résultats</p>
    <button mat-raised-button color="primary" routerLink="/add/category"><mat-icon>add</mat-icon> Ajouter une nouvelle catégorie</button>
    <div class="result-list">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell  *matCellDef="let element">{{element.code}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" routerLink="/modify/category/{{element.id}}"><mat-icon>edit</mat-icon></button>
              &nbsp;
              <button mat-raised-button color="warn" (click)="deleteCategory(element.name, element.id)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>