<div class="search-bar"><app-search (inputChanges)="changeInputSearch($event)" [searchInput]="this.searchInput"></app-search></div>
<div class="centerDiv" *ngIf="loading.status">
    <mat-progress-spinner
            [color]="loading.color"
            [mode]="loading.mode"
            [value]="loading.value">
    </mat-progress-spinner>
</div>

<div *ngIf="!loading.status">
    <div *ngIf="words.length <= 0" class="content">
        <p class="numberOfResults">Aucun résultat ne correspond.</p>
        <br/>
        <br/>
        <p class="noResult">Désolé, aucun résultat ne correspond à la recherche <b>{{searchInput}}</b>.</p>
    </div>
    <div *ngIf="words.length > 0" class="content">
        <p class="numberOfResults">{{words.length}} résultats ({{queryTime}} secondes)</p>
        <div class="result-list">
            <mat-table [dataSource]="this.words" class="mat-elevation-z8">
                <ng-container matColumnDef="word">
                    <mat-header-cell *matHeaderCellDef> Mot </mat-header-cell>
                    <mat-cell class="linkWord" *matCellDef="let element" routerLink="/show/{{element.id}}">{{element.value}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef> Catégorie </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.category.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" routerLink="/modify/{{element.id}}">Modifier</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>


