<div class="centerDiv" *ngIf="loading.status">
  <mat-progress-spinner
          [color]="loading.color"
          [mode]="loading.mode"
          [value]="loading.value">
  </mat-progress-spinner>
</div>
<div *ngIf="!loading.status && errorRequest" class="error">Une erreur est survenue.</div>
<div *ngIf="!loading.status && !errorRequest">
  <div class="content">
    <h1>{{title}}</h1>
    <div class="error" *ngIf="error">
      <p>{{msgError}}</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="addRule">
      <mat-form-field>
        <mat-select placeholder="Catégorie" formControlName="category" [(value)]="categorySelected"  >
          <mat-option *ngFor="let category of categories"  [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput placeholder="Niveau d'application" formControlName="applicationLevel">
      </mat-form-field>

      <h3>Tags liés aux mot</h3>
      <div class="tags">
        <div formArrayName="wordTags" *ngFor="let tag of addRule.controls['wordTags'].controls; let i = index">
          <mat-form-field  [formGroupName]="i">
            <input matInput placeholder="valeur du tag" formControlName="valueTag">
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="addWordTag()"><mat-icon class="icon">add</mat-icon> Ajouter un tag</button>

      <h3>Tags d'application de la règle</h3>
      <div class="tags">
        <div formArrayName="combinationTags" *ngFor="let tag of addRule.controls['combinationTags'].controls; let j = index">
          <mat-form-field class="result-full-width" [formGroupName]="j">
            <input matInput placeholder="valeur tag" formControlName="valueCombination">
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="addCombinationTag()"><mat-icon class="icon">add</mat-icon> Ajouter un tag dans l'association</button>

      <h3>Résultat de la règle</h3>
      <mat-checkbox color="primary" formControlName="newRadicalChecked" [(ngModel)]="newRadicalChecked">Redéfinir le radical du mot ?</mat-checkbox>
      <div class="tags" *ngIf="!newRadicalChecked">
        <div>
          <mat-form-field class="result-full-width">
            <input matInput placeholder="Préfixe" [(ngModel)]="prefixResult" formControlName="prefix">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="result-full-width">
            <input matInput placeholder="Mot" [disabled]="true">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="result-full-width">
            <input matInput placeholder="Suffixe" [(ngModel)]="suffixResult" formControlName="suffix">
          </mat-form-field>
        </div>
      </div>
      <div class="tags" *ngIf="newRadicalChecked">
        <div>
          <mat-form-field class="result-full-width">
            <input matInput placeholder="Nouveau radical" [(ngModel)]="newRadical" formControlName="radical">
          </mat-form-field>
        </div>
      </div>
      <p *ngIf="newRadicalChecked"><i>Résultat de la règle prenant en entrée "MON_MOT" : {{newRadical}}</i></p>
      <p *ngIf="!newRadicalChecked"><i>Résultat de la règle prenant en entrée "MON_MOT" : {{prefixResult}}MON_MOT{{suffixResult}}</i></p>

      <button mat-raised-button color="warn" type="submit"><mat-icon class="icon">save</mat-icon> Enregistrer la règle</button>
    </form>
  </div>
</div>

