<div class="container px-lg-5" *ngIf="word">
  <div class="row  mx-lg-n5">
    <h1 style="margin-left: 400px;">Modifier {{word.value}} </h1>
    <div class="alert alert-danger" role="alert" *ngIf="error">
      Erreur lors de la modification
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="updateWord">
    <mat-form-field>
      <input matInput placeholder="Lemme" formControlName="lemme">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Catégorie" formControlName="category" [(value)]="selected">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="tags">
      <h3>Tags du mot (clé=valeur)</h3>
      <div class="inline" *ngFor="let tag of tagsAdded">
        <mat-form-field>
          <input matInput placeholder="Clé" formControlName="tagKey_">
        </mat-form-field>
        <mat-icon class="icon">arrow_right_alt</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Valeur" formControlName="tagValue_">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="addTag()"><mat-icon class="icon">add</mat-icon> Ajouter un tag</button>
    </div>

    <button mat-raised-button color="warn" type="submit">Enregistrer le mot</button>

  </form>

</div>
