<div class="app">
  <mat-toolbar color="accent">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a class="logo" routerLink="/">
      <img alt="leFFF Logo" routerLink="/home" src="assets/img/lefff_brand.jpg">
    </a>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button matTooltip="Ajouter un mot au lexique" [matMenuTriggerFor]="admin"><mat-icon class="icon">settings</mat-icon> Administration</a>
      <a mat-button matTooltip="Accès à l'administration"  routerLink="/add/word" ><mat-icon class="icon">add</mat-icon> Ajouter un mot</a>
      <a mat-button matTooltip="Importer/Exporter le lexique" routerLink="/import-export"><mat-icon class="icon">import_export</mat-icon> Import / Export</a>
    </div>
    <mat-menu #admin="matMenu">
      <button mat-menu-item routerLink="/list/categories" >Gérer les catégories</button>
      <button mat-menu-item routerLink="/list/rules" >Gérer les règles PFM</button>
      <button mat-menu-item routerLink="/combin" >Gérer les combinaisons de tags</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav color="accent" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/add/word"><mat-icon class="icon">add</mat-icon> Ajouter un mot</a>
        <a mat-button routerLink="/import-export"><mat-icon class="icon">import_export</mat-icon> Import / Export</a>
        <a mat-button [matMenuTriggerFor]="adminCollaspe"><mat-icon class="icon">settings</mat-icon> Administration</a>
      </div>
      <mat-menu #adminCollaspe="matMenu">
        <button mat-menu-item routerLink="/list/categories" >Gérer les catégories</button>
        <button mat-menu-item routerLink="/list/rules" >Gérer les règles PFM</button>
        <button mat-menu-item routerLink="/combin" >Gérer les combinaisons de tags</button>
      </mat-menu>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="content">
        <main>
          <router-outlet></router-outlet>
        </main>
        <footer>
          <p>
            Projet universitaire - Université de Bordeaux</p>
          <p>
            Fatima Ezzahra BAKIR &#9672; Oumayma JELLITE &#9672; Guillaume NEDELEC &#9672; Alfred Aboubacar SYLLA
          </p>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


