.app {
  height: 100%;
}

.logo img {
  margin-top: 8px;
  width: auto;
  height: 35px;
}

.mat-toolbar{
  padding: 10px 10px 10px 25px;
  height: 60px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(198, 198, 198, 0.6);
}

.mat-sidenav-container {
  height: auto !important;
  min-height: auto !important;
}

div {
  overflow: inherit;
}

a {
  text-decoration: none;
  font-size: 100%;
  white-space: normal;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  min-height: 100%;
}

main {
  min-height:  calc(100vh - 300px);
}

footer {
  background: #fff;
  text-align: center;
  border-top: 1px solid rgba(198, 198, 198, 0.6);
  padding: 15px;
  height: 100px;
  margin-top: 25px;
}
