<div class="centerDiv" *ngIf="loading.status">
  <mat-progress-spinner
          [color]="loading.color"
          [mode]="loading.mode"
          [value]="loading.value">
  </mat-progress-spinner>
</div>

<div *ngIf="!loading.status">
  <app-search [searchInput]="this.searchInput"></app-search>
  <div class="content">
    <p *ngIf="word == null" class="error">Une erreur est survenue.</p>
    <div *ngIf="word != null;">
      <h1>Formes flechies du mot : {{word.value}} ({{word.category.name}})</h1>
      <div class="actions">
        <button mat-raised-button color="warn" routerLink="/modify/{{word.id}}">Signaler ce mot</button>
        <button mat-raised-button color="warn" routerLink="/modify/{{word.id}}">Modifier le mot</button>
        <button mat-raised-button color="warn" routerLink="/modify/{{word.id}}">Supprimer le mot</button>
      </div>
      <div class="formeFlechies">
        <ul>En cours !!
          <li>Forme 1</li>
          <li>Forme 2</li>
          <li>Forme 3</li>
          <li><div class="."></div></li>
        </ul>
      </div>
    </div>
  </div>
</div>
