/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.error {
  border-radius: 5px;
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 25px;
}

.mat-progress-bar-background {
  fill: #c5cae9
}

.mat-progress-bar-buffer {
  background-color: #c5cae9
}

.mat-progress-bar-fill::after {
  background-color: #0277bd
}

.mat-progress-bar.mat-primary .mat-progress-bar-background {
  fill: #c5cae9
}

.mat-progress-bar.mat-primary .mat-progress-bar-buffer {
  background-color: #c5cae9
}

.mat-progress-bar.mat-primary .mat-progress-bar-fill::after {
  background-color: #0277bd
}