.input-border {
    text-align: center !important;
    height: 45px;
    border-radius: 20px;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ced4da;
    line-height: 45px;
}

input {
    height: 100%;
    background-color: transparent;
    width: 97%;
    border: 0;
    font-size: 16px;
}

.input-border:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

input:focus{
    outline: none;
}

button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}