<div class="search-bar"><app-search [searchInput]="this.searchInput"></app-search></div>
<div class="centerDiv" *ngIf="loading.status">
    <mat-progress-spinner
            [color]="loading.color"
            [mode]="loading.mode"
            [value]="loading.value">
    </mat-progress-spinner>
</div>
<div *ngIf="!loading.status && errorRequest" class="error">Une erreur est survenue.</div>
<div *ngIf="!loading.status && !errorRequest">
    <div class="content">
        <h1>{{title}}</h1>
        <div class="error" *ngIf="error">
            Le formulaire contient une ou plusieurs erreurs.
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="addWord">
            <mat-form-field>
                <input matInput placeholder="Lemme" formControlName="lemme">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Catégorie" formControlName="category" [(value)]="selectedCategory">
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="tags">
                <h3>Tags du mot (optionnel)</h3>
                <div formArrayName="tags" *ngFor="let tag of addWord.controls['tags'].controls; let i = index">
                    <mat-form-field  [formGroupName]="i">
                        <input matInput placeholder="Valeur" formControlName="value">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" type="button" (click)="addTagField()"><mat-icon class="icon">add</mat-icon> Ajouter un tag</button>
            </div>

            <div class="validation">
                <button mat-raised-button color="warn" type="submit"><mat-icon class="icon">save</mat-icon> Enregistrer le mot</button>
                <div *ngIf="saveRequest" class="spinner">
                    <mat-progress-spinner
                            [color]="loading.color"
                            [mode]="loading.mode"
                            [value]="loading.value"
                            [diameter]="50">
                    </mat-progress-spinner>
                </div>
            </div>
        </form>
    </div>
</div>


