<div class="search-bar"><app-search [searchInput]="this.searchInput"></app-search></div>
<div class="centerDiv" *ngIf="loading.status">
    <mat-progress-spinner
            [color]="loading.color"
            [mode]="loading.mode"
            [value]="loading.value">
    </mat-progress-spinner>
</div>
<div *ngIf="!loading.status && errorRequest" class="error">Une erreur est survenue.</div>
<div *ngIf="!loading.status && !errorRequest">
    <div class="content">
        <h1>Ajout d'un nouveau mot</h1>
        <div class="error" *ngIf="error">
            Le formulaire contient une erreur.
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="addWord">
            <mat-form-field>
                <input matInput placeholder="Lemme" formControlName="lemme">
            </mat-form-field>
            <mat-form-field>
                <mat-select [(value)]="selectedCategory">
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="tags">
                <h3>Tags du mot (clé=valeur)</h3>
                <div class="inline" *ngFor="let tag of tagsAdded">
                    <mat-form-field>
                        <input matInput placeholder="Clé">
                    </mat-form-field>
                    <mat-icon class="icon">arrow_right_alt</mat-icon>
                    <mat-form-field>
                        <input matInput placeholder="Valeur">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" type="button" (click)="addTag()"><mat-icon class="icon">add</mat-icon> Ajouter un tag</button>
            </div>

            <button mat-raised-button color="warn" type="submit">Enregistrer le mot</button>
        </form>
    </div>
</div>


