<div style="text-align:center">
  <img width="300" alt="leFFF Logo" src="assets/img/lefff.jpg">
  <h2> Rechercher un mot du leFFF </h2>
  <div class="container ">
    <app-search></app-search>
    <div class=" justify-content-center  ">
      <div class="card-deck mb- text-center">
        <div class="card mb-3 shadow-sm ">
          <div class="card-header">
            <h5 class="my-0 font-weight-normal">Mots plus recherchés</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <a href="#"><li>ploutocrates</li></a>
              <a href="#"><li>ploutocrates</li></a>
              <a href="#"><li>ploutocrates</li></a>
              <a href="#"><li>ploutocrates</li></a>
              <a href="#"><li>ploutocrates</li></a>
            </ul>
          </div>
        </div>

        <div class="card mb-3 shadow-sm">
          <div class="card-header">
            <h5 class="my-0 font-weight-normal">Derniers mots recherchés</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <a href=""><li>plongeoir</li></a>
              <a href=""><li>plongeoir</li></a>
              <a href=""><li>plongeoir</li></a>
              <a href=""><li>plongeoir</li></a>
              <a href=""><li>plongeoir</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>


</div>
</div>
